---
import Selectbutton from "../UI/select.astro";

const categories = [
  { id: "categoryA", name: "Frutas" },
  { id: "categoryB", name: "Verduras" },
  { id: "categoryC", name: "Vegetales" },
  { id: "categoryD", name: "Hortalizas" },
  { id: "categoryE", name: "Plantas Aromaticas" },
];
---

<nav class="w-full border-b border-[#e0dfdf] relative p-2 sm:px-5">
  <!-- Contenedor scrolleable -->
  <div class="flex gap-5 overflow-x-auto no-scrollbar relative py-1">
    {
      categories.map((cat) => (
        <Selectbutton
          key={cat.id}
          name={cat.id}
          id={cat.id}
          class=" shrink-0 w-[120px] sm:w-[127px] h-9 rounded-[28px]"
        >
          <option value="" selected>
            {cat.name}
          </option>
        </Selectbutton>
      ))
    }
  
  </div>
</nav>
