---
import Header from "../components/UI/Header.astro";
import "../styles/global.css";
import { listCollections, type StoreCollection } from "../lib/medusajs/products";

interface Props {
    collections?: StoreCollection[];
}

const { collections: initialCollections = [] }: Props = Astro.props;

const collections = initialCollections.length ? initialCollections : ((await listCollections({ limit: 20 })).collections ?? []);
---

<html lang="es" class="w-full h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Mariquita</title>
    </head>

    <body class="min-h-screen w-full flex flex-col font-[Inter] overflow-x-hidden ">
        <!-- Header con sticky sutil -->

        <div class="sticky top-0 z-50 backdrop-blur-sm bg-white/95 shadow-sm transition-shadow duration-300">
            <Header collections={collections} />
        </div>
        <main class="flex-1 w-full overflow-x-hidden">
            <slot />
        </main>
    </body>
</html>
